In [1]:
# install.packages("tidyverse")
Sys.setenv(LANGUAGE = "en")

### Data processing of LEGO product datasets

In [2]:
# Load libraries
library(tidyverse)
library(reshape2)
library(lubridate)
library(patchwork)
options(repr.plot.width = 10, repr.plot.height = 8)
Sys.setenv(LANGUAGE = "en")

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Warning message:
"package 'reshape2' was built under R version 4.3.2"

Attaching package: 'reshape2'


The following object is masked from 'package:tidyr':

    smiths


Warning message:
"package 'patchwork' was built under R version 4.3.2"

In [3]:
# Read color dataset
colors_data <-
  "colors.csv" %>%
   read_csv() %>%
   glimpse()

Rows: 263 Columns: 4
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (2): name, rgb
dbl (1): id
lgl (1): is_trans

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 263
Columns: 4
$ id       <dbl> -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17,…
$ name     <chr> "[Unknown]", "Black", "Blue", "Green", "Dark Turquoise", "Red…
$ rgb      <chr> "0033B2", "05131D", "0055BF", "237841", "008F9B", "C91A09", "…
$ is_trans <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE…

In [4]:
# Check missing values and any duplicates
colors_data %>%
  is.na() %>%
  colSums()

colors_data %>%
  duplicated() %>%
  any()

      id     name      rgb is_trans
       0        0        0        0

[1] FALSE

In [5]:
# Rename variables for clarity and easier understanding
# Remove variable we do not need
colors_data <-
  colors_data %>%
  rename(color_name = name, color_id = id) %>%
  select(-is_trans)

In [6]:
# Check missing values and any duplicates again
colors_data %>%
  is.na() %>%
  colSums()

colors_data %>%
  duplicated() %>%
  any()

  color_id color_name        rgb
         0          0          0

[1] FALSE

In [7]:
# Check unique colors
colors_data$color_id %>%
   unique() %>%
   length()

[1] 263

In [8]:
# Read sets dataset
sets_data <-
  "sets.csv" %>%
   read_csv() %>%
   glimpse()

Rows: 21993 Columns: 6
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (3): set_num, name, img_url
dbl (3): year, theme_id, num_parts

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 21,993
Columns: 6
$ set_num   <chr> "001-1", "0011-2", "0011-3", "0012-1", "0013-1", "0014-1", "…
$ name      <chr> "Gears", "Town Mini-Figures", "Castle 2 for 1 Bonus Offer", …
$ year      <dbl> 1965, 1979, 1987, 1979, 1979, 1979, 1979, 1979, 1965, 2013, …
$ theme_id  <dbl> 1, 67, 199, 143, 143, 143, 143, 189, 1, 497, 366, 366, 366, …
$ num_parts <dbl> 43, 12, 0, 12, 12, 2, 18, 15, 3, 4, 403, 35, 0, 0, 57, 18, 7…
$ img_url   <chr> "https://cdn.rebrickable.com/media/sets/001-1.jpg", "https:/…

In [9]:
# Check missing values and duplicates
sets_data %>%
  is.na() %>%
  colSums()

sets_data %>%
   duplicated() %>%
   any()

  set_num      name      year  theme_id num_parts   img_url
        0         0         0         0         0         0

[1] FALSE

In [10]:
# Rename variables for clarity and easier understanding
# Remove variable we do not need
sets_data <-
  sets_data %>%
  rename(set_id = set_num,
         set_name = name, 
         parts_count = num_parts) %>%
  select(-img_url)

In [11]:
# Check missing values and any duplicates again
sets_data %>%
  is.na() %>%
  colSums()

sets_data %>%
  duplicated() %>%
  any()

     set_id    set_name        year    theme_id parts_count
          0           0           0           0           0

[1] FALSE

In [12]:
# Check unique years
sets_data$year %>% 
  unique() %>%
  sort()

 [1] 1949 1950 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965
[16] 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980
[31] 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995
[46] 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010
[61] 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023 2024

In [13]:
# Check the number of unique set_id
sets_data$set_id %>%
   unique() %>%
   length()

# Select the year of interests
sets_data <-
  sets_data %>%
  filter(year != 1949, year != 1950, year!= 2023, year != 2024 )

[1] 21993

In [14]:
# Read theme dataset
themes_data <-
  "themes.csv" %>%
   read_csv() %>%
   glimpse()

Rows: 468 Columns: 3
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (1): name
dbl (2): id, parent_id

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 468
Columns: 3
$ id        <dbl> 1, 3, 4, 16, 17, 18, 19, 20, 21, 22, 23, 34, 35, 50, 51, 52,…
$ name      <chr> "Technic", "Competition", "Expert Builder", "RoboRiders", "S…
$ parent_id <dbl> NA, 1, 1, 1, 1, 1, 1, 1, 1, NA, 22, NA, 34, NA, 50, NA, 52, …

In [15]:
# Check missing values and duplicates
themes_data %>%
  is.na() %>%
  colSums()

themes_data %>%
   duplicated() %>%
   any()

       id      name parent_id
        0         0       145

[1] FALSE

In [16]:
# Rename variables for easier understanding and select variables needed
# Remove variable we do not need
themes_data <-
  themes_data %>%
  rename(theme_name = name, theme_id = id)

In [17]:
# Check missing values and duplicates again
themes_data %>%
  is.na() %>%
  colSums()

themes_data %>%
   duplicated() %>%
   any()

  theme_id theme_name  parent_id
         0          0        145

[1] FALSE

In [18]:
# Check the number of unique theme_id
themes_data$theme_id %>%
  unique() %>%
  length()

[1] 468

In [19]:
# Read inventory parts dataset
inventory_parts_data <-
  "inventory_parts.csv" %>%
   read_csv() %>%
   glimpse()

Rows: 1183968 Columns: 6
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (2): part_num, img_url
dbl (3): inventory_id, color_id, quantity
lgl (1): is_spare

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 1,183,968
Columns: 6
$ inventory_id <dbl> 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, …
$ part_num     <chr> "48379c04", "48395", "stickerupn0077", "upn0342", "upn035…
$ color_id     <dbl> 72, 7, 9999, 0, 25, 47, 29, 2, 15, 15, 15, 29, 15, 15, 29…
$ quantity     <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 4, 1, 1, 1, 5, 2, 3, 1, …
$ is_spare     <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, F…
$ img_url      <chr> "https://cdn.rebrickable.com/media/parts/photos/1/48379c0…

In [20]:
# Check missing values and duplicates
inventory_parts_data %>%
  is.na() %>%
  colSums()

inventory_parts_data %>%
  duplicated() %>%
  any()

inventory_id     part_num     color_id     quantity     is_spare      img_url
           0            0            0            0            0         8250

[1] FALSE

In [21]:
# Rename variables for clarity and select required variables
inventory_parts_data <-
  inventory_parts_data %>%
  rename(parts_id = part_num) %>%
  glimpse()

Rows: 1,183,968
Columns: 6
$ inventory_id <dbl> 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, …
$ parts_id     <chr> "48379c04", "48395", "stickerupn0077", "upn0342", "upn035…
$ color_id     <dbl> 72, 7, 9999, 0, 25, 47, 29, 2, 15, 15, 15, 29, 15, 15, 29…
$ quantity     <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 4, 1, 1, 1, 5, 2, 3, 1, …
$ is_spare     <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, F…
$ img_url      <chr> "https://cdn.rebrickable.com/media/parts/photos/1/48379c0…

In [22]:
# Remove variables we do not need
inventory_parts_data <-
  inventory_parts_data %>%
  select(-img_url)

In [23]:
# Check missing values and duplicates again
inventory_parts_data %>%
  is.na() %>%
  colSums()

inventory_parts_data %>%
  duplicated() %>%
  any()

inventory_id     parts_id     color_id     quantity     is_spare
           0            0            0            0            0

[1] FALSE

In [24]:
# Read inventory data
inventories_data <-
  "inventories.csv" %>%
   read_csv() %>%
   glimpse()

Rows: 37422 Columns: 3
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (1): set_num
dbl (2): id, version

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 37,422
Columns: 3
$ id      <dbl> 1, 3, 4, 15, 16, 17, 19, 21, 22, 25, 26, 27, 28, 30, 31, 33, 3…
$ version <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ set_num <chr> "7922-1", "3931-1", "6942-1", "5158-1", "903-1", "850950-1", "…

In [25]:
# Check missing values and duplicates
inventories_data %>%
  is.na() %>%
  colSums()

inventories_data %>%
  duplicated() %>%
  any()

     id version set_num
      0       0       0

[1] FALSE

In [26]:
# Rename variables for clarity and easier understanding
inventories_data <-
  inventories_data %>%
  rename(inventory_id = id,
         set_id = set_num)

In [27]:
# Check missing values and duplicates again
inventories_data %>%
  is.na() %>%
  colSums()

inventories_data %>%
  duplicated() %>%
  any()

inventory_id      version       set_id
           0            0            0

[1] FALSE

In [28]:
# Left join datasets to obtain color information over years
product_data <- 
  themes_data %>%
  left_join(sets_data, by = "theme_id") %>%
  glimpse()

Rows: 20,981
Columns: 7
$ theme_id    <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ theme_name  <chr> "Technic", "Technic", "Technic", "Technic", "Technic", "Te…
$ parent_id   <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ set_id      <chr> "001-1", "002-1", "1030-1", "1038-1", "1039-1", "1237-1", …
$ set_name    <chr> "Gears", "4.5V Samsonite Gears Motor Set", "TECHNIC I: Sim…
$ year        <dbl> 1965, 1965, 1985, 1985, 1986, 2001, 1999, 1999, 1999, 1999…
$ parts_count <dbl> 43, 3, 210, 120, 39, 56, 30, 29, 28, 26, 28, 103, 98, 64, …

In [29]:
# Check missing values and duplicates
product_data %>%
  is.na() %>%
  colSums()

product_data %>%
  duplicated() %>%
  any()

   theme_id  theme_name   parent_id      set_id    set_name        year
          0           0        9553          14          14          14
parts_count
         14

[1] FALSE

In [30]:
# Fill the missing value of parent-id with 0, which means no parent theme
product_data$parent_id[is.na(product_data$parent_id)] <- 0

In [31]:
# Remove missing values
product_data <- 
  product_data %>%
  na.omit()

In [32]:
# Check missing values and duplicates
product_data %>%
  is.na() %>%
  colSums()

product_data %>%
  duplicated() %>%
  any()

   theme_id  theme_name   parent_id      set_id    set_name        year
          0           0           0           0           0           0
parts_count
          0

[1] FALSE

In [33]:
# To have a look at the dataset
product_data %>% glimpse()

Rows: 20,967
Columns: 7
$ theme_id    <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ theme_name  <chr> "Technic", "Technic", "Technic", "Technic", "Technic", "Te…
$ parent_id   <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0…
$ set_id      <chr> "001-1", "002-1", "1030-1", "1038-1", "1039-1", "1237-1", …
$ set_name    <chr> "Gears", "4.5V Samsonite Gears Motor Set", "TECHNIC I: Sim…
$ year        <dbl> 1965, 1965, 1985, 1985, 1986, 2001, 1999, 1999, 1999, 1999…
$ parts_count <dbl> 43, 3, 210, 120, 39, 56, 30, 29, 28, 26, 28, 103, 98, 64, …

In [34]:
# Save the dataset
write.csv(product_data, file = "product_data.csv", row.names = FALSE)

In [35]:
# Left join datasets to obtain color information over years
color_data <- 
  sets_data %>%
  left_join(inventories_data, by = "set_id") %>%
  left_join(inventory_parts_data, by = "inventory_id") %>%
  left_join(colors_data, by = "color_id") %>%
  glimpse()

Rows: 1,039,223
Columns: 13
$ set_id       <chr> "001-1", "001-1", "001-1", "001-1", "001-1", "001-1", "00…
$ set_name     <chr> "Gears", "Gears", "Gears", "Gears", "Gears", "Gears", "Ge…
$ year         <dbl> 1965, 1965, 1965, 1965, 1965, 1965, 1965, 1965, 1965, 196…
$ theme_id     <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 67, 199, 143, 143, 14…
$ parts_count  <dbl> 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 12, 0, 12…
$ inventory_id <dbl> 24696, 24696, 24696, 24696, 24696, 24696, 24696, 24696, 2…
$ version      <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, …
$ parts_id     <chr> "132a", "3020", "3062c", "3404bc01", "36", "7039", "7049b…
$ color_id     <dbl> 7, 15, 15, 15, 7, 4, 15, 4, 15, 14, 1, 4, NA, NA, 0, 0, 0…
$ quantity     <dbl> 4, 4, 1, 4, 4, 6, 4, 4, 4, 4, 1, 3, NA, NA, 2, 2, 2, 2, 3…
$ is_spare     <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, F…
$ color_name   <chr> "Light Gray", "White", "White", "White", "Light Gray", "R…
$ rgb          <chr> "9BA19D", "FFFFFF", "FFFFFF", "FFFFFF", "9BA19D", "C91A09…

In [36]:
# Check missing values and duplicates
color_data %>%
  is.na() %>%
  colSums()

color_data %>%
  duplicated() %>%
  any()

      set_id     set_name         year     theme_id  parts_count inventory_id
           0            0            0            0            0            0
     version     parts_id     color_id     quantity     is_spare   color_name
           0         4641         4641         4641         4641         4641
         rgb
        4641

[1] FALSE

In [37]:
# Check how many different versions each inventory_id corresponds to
inventory_version_counts <- 
  color_data %>%
  group_by(inventory_id) %>%
  summarise(number_of_versions = n_distinct(version))

any_multiple_versions <- 
  any(inventory_version_counts$number_of_versions > 1)

# print the result
if(any_multiple_versions) {
  print("There are multiple versions corresponding to inventory_id")
} else {
  print("Each inventory_id corresponds to only one version")
}

[1] "Each inventory_id corresponds to only one version"

In [38]:
# Check number of unique colors
n_distinct(color_data$rgb)

[1] 217

In [39]:
# Remove missing values
color_data <-
  color_data %>%
  na.omit()

In [40]:
# Check number of unique colors again
n_distinct(color_data$color_id)

[1] 246

In [41]:
# Check missing values and duplicates again
color_data %>%
  is.na() %>%
  colSums()

color_data %>%
  duplicated() %>%
  any()

      set_id     set_name         year     theme_id  parts_count inventory_id
           0            0            0            0            0            0
     version     parts_id     color_id     quantity     is_spare   color_name
           0            0            0            0            0            0
         rgb
           0

[1] FALSE

In [42]:
# Calculate the total quantity for each year and RGB value
overview_color_data <-
  color_data %>%
  group_by(year, rgb) %>%
  summarise(parts_count = sum(quantity), 
            color_id = first(color_id), 
            color_name = first(color_name))


overview_color_data

`summarise()` has grouped output by 'year'. You can override using the `.groups` argument.

     year rgb    parts_count color_id color_name
1    1953 0055BF   2            1     Blue
2    1953 237841  26            2     Green
3    1953 C91A09  26            4     Red
4    1953 F2CD37  26           14     Yellow
5    1953 FFFFFF  26           15     White
6    1954 0055BF  18            1     Blue
7    1954 237841   6            2     Green
8    1954 9BA19D   1            7     Light Gray
9    1954 C91A09  70            4     Red
10   1954 F2CD37  18           14     Yellow
11   1954 FCFCFC   2           47     Trans-Clear
12   1954 FFFFFF  63           15     White
13   1955 0055BF 193            1     Blue
14   1955 05131D   1         9999     [No Color/Any Color]
15   1955 237841   6            2     Green
16   1955 C91A09 298            4     Red
17   1955 F2CD37 188           14     Yellow
18   1955 FCFCFC  43           47     Trans-Clear
19   1955 FFFFFF 448           15     White
20   1956 0055BF   6            1     Blue
21   1956 05131D   7         9999     [No Color/Any Color]
22   1956 C91A09 147            4     Red
23   1956 F2CD37   6           14     Yellow
24   1956 FCFCFC  19           47     Trans-Clear
25   1956 FFFFFF 254           15     White
26   1957 0055BF  88            1     Blue
27   1957 05131D   5         9999     [No Color/Any Color]
28   1957 237841  14            2     Green
29   1957 6e8aa6   1         1131     HO Sand Blue
30   1957 965336   1         1119     HO Light Brown
⋮    ⋮    ⋮      ⋮           ⋮        ⋮
2352 2022 ADC3C0  1230        323     Light Aqua
2353 2022 AEEFEC  2493         41     Trans-Light Blue
2354 2022 BBA53D    16        334     Chrome Gold
2355 2022 BBE90B  3235         27     Lime
2356 2022 C870A0  1463          5     Dark Pink
2357 2022 C91A09 16017          4     Red
2358 2022 CCA373     8       1089     Warm Tan
2359 2022 CE1D9B     7       1054     Trans-Dark Pink Opal
2360 2022 D09168   751         92     Nougat
2361 2022 D9D9D9    70       1000     Glow in Dark White
2362 2022 D9E4A7   223         35     Trans-Bright Green
2363 2022 DBAC34   482         82     Metallic Gold
2364 2022 DF6695   620         45     Trans-Dark Pink
2365 2022 DFEEA5   424        158     Yellowish Green
2366 2022 E1D5ED  1122         31     Lavender
2367 2022 E4ADC8  1547         29     Bright Pink
2368 2022 E4CD9E 14102         19     Tan
2369 2022 EBD800   587       1062     Vibrant Yellow
2370 2022 F08F1C  1161        182     Trans-Orange
2371 2022 F2CD37  9056         14     Yellow
2372 2022 F5CD2F   654         46     Trans-Yellow
2373 2022 F6D7B3  1175         78     Light Nougat
2374 2022 F8BB3D  3212        191     Bright Light Orange
2375 2022 F8F184   172         42     Trans-Neon Green
2376 2022 FCFCFC  2911         47     Trans-Clear
2377 2022 FE8A18  4541         25     Orange
2378 2022 FF698F  1194       1050     Coral
2379 2022 FF800D    18         57     Trans-Neon Orange
2380 2022 FFF03A  1427        226     Bright Light Yellow
2381 2022 FFFFFF 29982         15     White

In [43]:
# Introduce variables for further analysis
overview_color_data <- 
  overview_color_data %>%
  mutate(color_name = case_when(
    color_name %in% c("[No Color/Any Color]") ~ "Black",  # Change [No Color/Any Color] to black
    color_name == "[Unknown]" ~ "other",  # Change [Unknown] to other
    TRUE ~ color_name  # Keep other values as they are
  ))

In [44]:
# Check the result
overview_color_data %>% 
  glimpse()

Rows: 2,381
Columns: 5
Groups: year [70]
$ year        <dbl> 1953, 1953, 1953, 1953, 1953, 1954, 1954, 1954, 1954, 1954…
$ rgb         <chr> "0055BF", "237841", "C91A09", "F2CD37", "FFFFFF", "0055BF"…
$ parts_count <dbl> 2, 26, 26, 26, 26, 18, 6, 1, 70, 18, 2, 63, 193, 1, 6, 298…
$ color_id    <dbl> 1, 2, 4, 14, 15, 1, 2, 7, 4, 14, 47, 15, 1, 9999, 2, 4, 14…
$ color_name  <chr> "Blue", "Green", "Red", "Yellow", "White", "Blue", "Green"…

In [45]:
# Save the dataset
write.csv(overview_color_data, file = "colour_data.csv", row.names = FALSE)

### Data processing of LEGO market dataset

In [46]:
# Read LEGO market data: rating data
rating_data <-
  "kaggle_sets.csv" %>%
  read_csv()

Rows: 14936 Columns: 17
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (8): Set_ID, Name, Theme, Theme_Group, Subtheme, Category, Packaging, Av...
dbl (9): Year, Num_Instructions, Pieces, Minifigures, Owned, Rating, USD_MSR...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [47]:
# Rename variables for clarity and select variables of interests
rating_data <-
  rating_data %>%
    rename(set_id = Set_ID,
           set_name = Name,
           year = Year,
           theme_name = Theme,
           theme_group = Theme_Group,
           parts_count = Pieces,
           minifigures_count = Minifigures,
           rating = Rating,
           retail_price = USD_MSRP,
           resale_price = Current_Price) %>%
  select(year, set_id, set_name, theme_name, theme_group, 
         parts_count, minifigures_count, rating, 
         retail_price, resale_price)

In [48]:
# Have a look at the data
rating_data %>% 
  glimpse()

Rows: 14,936
Columns: 10
$ year              <dbl> 1975, 1975, 1975, 1975, 1975, 1975, 1975, 1975, 1975…
$ set_id            <chr> "75-1", "77-1", "077-1", "78-1", "78-3", "133-1", "1…
$ set_name          <chr> "PreSchool Set", "PreSchool Set", "Pre-School Set", …
$ theme_name        <chr> "PreSchool", "PreSchool", "Duplo", "PreSchool", "Sam…
$ theme_group       <chr> "Pre-school", "Pre-school", "Pre-school", "Pre-schoo…
$ parts_count       <dbl> 16, 20, 21, 32, 330, 87, 86, 83, 82, 293, 369, 526, …
$ minifigures_count <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, 5, NA, NA, NA, N…
$ rating            <dbl> 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.…
$ retail_price      <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ resale_price      <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …

In [49]:
# Read LEGO market data: price data
price_data <-
  "brickset_sets.csv" %>%
  read_csv()

Rows: 19195 Columns: 14
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): Number, Theme, Subtheme, Set name, Launch date, Exit date
dbl (8): Year, Pieces, RRP (GBP), RRP (USD), RRP (CAD), RRP (EUR), Value new...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [50]:
# Have a glimpse at the dataset
price_data %>% 
  glimpse()
# Check the statistics of price data
price_data %>%
  summary()
# Check missing values
price_data %>%
  is.na() %>%
  colSums()
# Check any duplicates in the dataset
price_data %>%
  duplicated() %>%
  any()

Rows: 19,195
Columns: 14
$ Number             <chr> "700_1_4-1", "700_3_4-1", "700_B-1", "700_F-1", "70…
$ Theme              <chr> "System", "System", "System", "System", "System", "…
$ Subtheme           <chr> "Supplemental", "Supplemental", "Supplemental", "Su…
$ Year               <dbl> 1953, 1953, 1953, 1953, 1954, 1954, 1954, 1954, 195…
$ `Set name`         <chr> "Individual 1 x 2 Bricks", "Individual 2 x 3 Bricks…
$ Pieces             <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ `RRP (GBP)`        <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ `RRP (USD)`        <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ `RRP (CAD)`        <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ `RRP (EUR)`        <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ `Value new (USD)`  <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ `Value used (USD)` <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ `Launch date`      <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ `Exit date`        <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…

    Number             Theme             Subtheme              Year
 Length:19195       Length:19195       Length:19195       Min.   :1953
 Class :character   Class :character   Class :character   1st Qu.:2000
 Mode  :character   Mode  :character   Mode  :character   Median :2011
                                                          Mean   :2006
                                                          3rd Qu.:2017
                                                          Max.   :2022

   Set name             Pieces          RRP (GBP)        RRP (USD)
 Length:19195       Min.   :    0.0   Min.   :  0.00   Min.   :  0.00
 Class :character   1st Qu.:   22.0   1st Qu.:  5.99   1st Qu.:  6.00
 Mode  :character   Median :   67.0   Median : 14.99   Median : 15.00
                    Mean   :  220.9   Mean   : 27.44   Mean   : 30.61
                    3rd Qu.:  235.0   3rd Qu.: 29.99   3rd Qu.: 34.99
                    Max.   :11695.0   Max.   :734.99   Max.   :849.99
                    NA's   :4059      NA's   :10302    NA's   :7871
   RRP (CAD)         RRP (EUR)      Value new (USD)   Value used (USD)
 Min.   :   2.49   Min.   :  0.01   Min.   :   0.00   Min.   :   0.040
 1st Qu.:  13.99   1st Qu.:  9.99   1st Qu.:  12.13   1st Qu.:   7.095
 Median :  24.99   Median : 19.99   Median :  32.69   Median :  17.760
 Mean   :  49.14   Mean   : 40.50   Mean   : 101.88   Mean   :  44.832
 3rd Qu.:  49.99   3rd Qu.: 48.73   3rd Qu.:  90.00   3rd Qu.:  47.100
 Max.   :1049.99   Max.   :849.99   Max.   :9000.00   Max.   :1835.450
 NA's   :13190     NA's   :14712    NA's   :6612      NA's   :7736
 Launch date         Exit date
 Length:19195       Length:19195
 Class :character   Class :character
 Mode  :character   Mode  :character

          Number            Theme         Subtheme             Year
               0                0             3548                0
        Set name           Pieces        RRP (GBP)        RRP (USD)
               0             4059            10302             7871
       RRP (CAD)        RRP (EUR)  Value new (USD) Value used (USD)
           13190            14712             6612             7736
     Launch date        Exit date
           12193            12193

[1] FALSE

In [51]:
# Rename variables for clarity and select variables of interests
price_data <- 
  price_data %>% 
  rename(set_id = Number,
         theme_name = Theme,
         year = Year,
         set_name = `Set name`,
         parts_count = Pieces,
         retail_price = `RRP (USD)`,
         resale_price_used = `Value used (USD)`,
         resale_price_new = `Value new (USD)`,
         launch_date = `Launch date`,
         exit_date = `Exit date`) %>%
  select(year, set_id, set_name, theme_name, parts_count,
         retail_price, resale_price_used, resale_price_new,
         launch_date, exit_date)

In [52]:
# have a look at the dataset
price_data %>%
  glimpse()

Rows: 19,195
Columns: 10
$ year              <dbl> 1953, 1953, 1953, 1953, 1954, 1954, 1954, 1954, 1954…
$ set_id            <chr> "700_1_4-1", "700_3_4-1", "700_B-1", "700_F-1", "700…
$ set_name          <chr> "Individual 1 x 2 Bricks", "Individual 2 x 3 Bricks"…
$ theme_name        <chr> "System", "System", "System", "System", "System", "S…
$ parts_count       <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ retail_price      <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ resale_price_used <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ resale_price_new  <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ launch_date       <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ exit_date         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …

In [53]:
# Create a join data that preparing for joining, selecting variables of interests
join_data <-
  rating_data %>% 
  select(set_id, rating, minifigures_count, rating)

In [54]:
# Have a look at the dataset
join_data

      set_id   rating minifigures_count
1     75-1     0.0    NA
2     77-1     0.0    NA
3     077-1    0.0    NA
4     78-1     0.0    NA
5     78-3     0.0    NA
6     133-1    0.0    NA
7     134-1    0.0    NA
8     136-1    0.0    NA
9     137-2    0.0    NA
10    148-1    0.0     5
11    182-1    0.0    NA
12    190-1    0.0    NA
13    195-1    0.0    NA
14    222-1    0.0    NA
15    253-2    0.0    NA
16    254-1    0.0    NA
17    255-2    0.0    NA
18    362-1    0.0     2
19    363-1    4.2     7
20    364-1    0.0     7
21    365-1    0.0     8
22    367-1    3.7    NA
23    390-2    3.9    NA
24    391-1    4.3    NA
25    392-1    0.0    NA
26    430-1    4.0    NA
27    480-1    0.0    NA
28    490-1    0.0    NA
29    516-1    0.0    NA
30    517-1    0.0    NA
⋮     ⋮        ⋮      ⋮
14907 80110-1  0      NA
14908 80111-1  0      18
14909 112323-1 0       2
14910 112324-1 0      NA
14911 122326-1 0      NA
14912 122327-1 0      NA
14913 122328-1 0       1
14914 122329-1 0      NA
14915 212325-1 0      NA
14916 212326-1 0      NA
14917 212327-1 0      NA
14918 242316-1 0       1
14919 242317-1 0       1
14920 562301-1 0      NA
14921 562302-1 0      NA
14922 562303-1 0      NA
14923 662302-1 0       2
14924 662303-1 0      NA
14925 662309-1 0       1
14926 682303-1 0       1
14927 682304-1 0       1
14928 854234-1 0      NA
14929 854236-1 0      NA
14930 854240-1 0      NA
14931 854241-1 0      NA
14932 854242-1 0      NA
14933 854243-1 0      NA
14934 854244-1 0      NA
14935 854245-1 0      NA
14936 854246-1 0      NA

In [55]:
# Join price dataset and join dataset
total_data <- 
  left_join(price_data, join_data, by = "set_id") %>%
  glimpse()

# Check missing values
total_data %>%
  is.na() %>%
  colSums()

# Check any duplicates in the dataset
total_data %>%
  duplicated() %>%
  any()

Rows: 19,195
Columns: 12
$ year              <dbl> 1953, 1953, 1953, 1953, 1954, 1954, 1954, 1954, 1954…
$ set_id            <chr> "700_1_4-1", "700_3_4-1", "700_B-1", "700_F-1", "700…
$ set_name          <chr> "Individual 1 x 2 Bricks", "Individual 2 x 3 Bricks"…
$ theme_name        <chr> "System", "System", "System", "System", "System", "S…
$ parts_count       <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ retail_price      <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ resale_price_used <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ resale_price_new  <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ launch_date       <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ exit_date         <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ rating            <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …
$ minifigures_count <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, …

             year            set_id          set_name        theme_name
                0                 0                 0                 0
      parts_count      retail_price resale_price_used  resale_price_new
             4059              7871              7736              6612
      launch_date         exit_date            rating minifigures_count
            12193             12193              4773             11690

[1] FALSE

In [56]:
# Transfer these variables to date format
total_data$launch_date <- dmy(total_data$launch_date)
total_data$exit_date <- dmy(total_data$exit_date)

# Filter data with date ealier than or equal to "31/12/2022"
total_data <- 
  total_data %>% 
  filter(exit_date <= dmy("31/12/2022"),
         )

# Check the result
total_data

     year set_id   set_name
1    1996 1796-1   Freestyle Bucket
2    1996 1815-1   Paradisa Lifeguard
3    1996 1817-1   Sea Plane with Hut and Boat
4    1996 4559-1   Cargo Railway
5    1996 4565-1   Freight and Crane Railway
6    1996 5820-1   Belville Garden Fun
7    1996 5835-1   Belville Dance Studio
8    1996 5875-1   Belville Hospital Ward
9    1996 5876-1   Belville Hospital Ward
10   1996 6024-1   Bandit Ambush
11   1996 6135-1   Spy Shark
12   1996 6145-1   Crystal Crawler
13   1996 6190-1   Shark's Crystal Cave
14   1996 6244-1   Armada Sentry
15   1996 6334-1   Wave Jump Racers
16   1996 6337-1   Fast Track Finish
17   1996 6491-1   Rocket Racer
18   1996 6492-1   Hypno Cruiser
19   1996 6493-1   Flying Time Vessel
20   1996 6518-1   Baja Buggy
21   1996 6581-1   Dig 'N' Dump
22   1996 6598-1   Metro PD Station
23   1996 6615-1   Eagle Stunt Flyer
24   1996 6712-1   Sheriff's Showdown
25   1996 6716-1   Covered Wagon
26   1996 6755-1   Sheriff's Lock-Up
27   1996 6769-1   Fort Legoredo
28   1996 6854-1   Alien Fossilizer
29   1996 6856-1   Planetary Decoder
30   1996 6899-1   Nebula Outpost
⋮    ⋮    ⋮        ⋮
6508 2022 71402-9  Coin Coffer
6509 2022 71402-10 Para-Biddybud
6510 2022 71402-11 Character Pack Series 4 - Complete
6511 2022 71402-12 Character Pack Series 4 - Sealed Box
6512 2022 71405-1  Fuzzy Flippers
6513 2022 71410-0  Character Pack Series 5 {Random box}
6514 2022 71410-1  Red Yoshi
6515 2022 71410-2  Baby Yoshi
6516 2022 71410-3  Purple Toad
6517 2022 71410-4  Hammer Bro
6518 2022 71410-5  Blue Shy Guy
6519 2022 71410-6  Toady
6520 2022 71410-7  Nabbit
6521 2022 71410-8  Waddlewing
6522 2022 71410-9  Character Pack Series 5 - Complete
6523 2022 71410-10 Character Pack Series 5 - Sealed Box
6524 2022 71764-1  Ninja Training Centre
6525 2022 75321-1  The Razor Crest Microfighter
6526 2022 75340-1  LEGO Star Wars Advent Calendar
6527 2022 76202-1  Wolverine Mech Armor
6528 2022 76203-1  Iron Man Mech Armor
6529 2022 76204-1  Black Panther Mech Armor
6530 2022 76205-1  Gargantos Showdown
6531 2022 76219-1  Spider-Man & Green Goblin Mech Battle
6532 2022 76231-1  Guardians of the Galaxy Advent Calendar
6533 2022 76396-1  Hogwarts Moment: Divination Class
6534 2022 76397-1  Hogwarts Moment: Defence Against the Dark Arts Class
6535 2022 76403-1  The Ministry of Magic
6536 2022 76404-1  LEGO Harry Potter Advent Calendar
6537 2022 80031-1  Mei's Dragon Car
     theme_name          parts_count retail_price resale_price_used
1    Freestyle           641          20.00        30.00
2    Town                 36             NA        41.24
3    Town                135          15.00        32.74
4    Trains              842         130.00       216.43
5    Trains              914         140.00       243.55
6    Belville             29             NA         9.05
7    Belville             36             NA        21.54
8    Belville             96             NA        43.78
9    Belville             96          30.00        40.88
10   Castle               59           6.50        78.79
11   Aquazone             57           8.75        11.79
12   Aquazone             96          12.00        17.05
13   Aquazone            258          50.00       106.77
14   Pirates              71           8.75        45.89
15   Town                181          20.00        32.60
16   Town                329          40.00       109.57
17   Time Cruisers        58           4.50         6.27
18   Time Cruisers       152          22.00        31.83
19   Time Cruisers       237          44.00        44.87
20   Town                 37           3.50         3.25
21   Town                127          13.25        14.56
22   Town                552          66.00       135.00
23   Town                 76           8.75        11.30
24   Western              28           4.00        16.53
25   Western              64           8.00        42.71
26   Western             176          25.00        68.37
27   Western             687          85.00       217.35
28   Space                53           6.00        13.36
29   Space                80           8.00        11.98
30   Space               158          15.00        31.61
⋮    ⋮                   ⋮           ⋮            ⋮
6508 Super Mario          NA          4.99         3.29
6509 Super Mario          NA          4.99         5.00
6510 Super Mario           0            NA           NA
6511 Super Mario          NA            NA           NA
6512 Super Mario         154         19.99        13.25
6513 Super Mario          NA          5.99           NA
6514 Super Mario          NA          5.99           NA
6515 Super Mario          NA          5.99        51.49
6516 Super Mario          NA          5.99           NA
6517 Super Mario          NA          5.99           NA
6518 Super Mario          NA          5.99           NA
6519 Super Mario          NA          5.99           NA
6520 Super Mario          NA          5.99           NA
6521 Super Mario          NA          5.99           NA
6522 Super Mario           0            NA           NA
6523 Super Mario          NA          5.99           NA
6524 Ninjago             524         39.99           NA
6525 Star Wars            98          9.99         7.23
6526 Star Wars           329         44.99        22.42
6527 Marvel Super Heroes 141          9.99         6.33
6528 Marvel Super Heroes 130          9.99         9.15
6529 Marvel Super Heroes 124          9.99         5.45
6530 Marvel Super Heroes 264         29.99        18.35
6531 Marvel Super Heroes 296         19.99        12.04
6532 Marvel Super Heroes 268         44.99        21.65
6533 Harry Potter        297         29.99        19.79
6534 Harry Potter        257         29.99        22.27
6535 Harry Potter        990         99.99        55.00
6536 Harry Potter        334         44.99        15.00
6537 Monkie Kid          456         49.99           NA
     resale_price_new launch_date exit_date  rating minifigures_count
1        NA           1996-06-01  2000-09-30 0.0    NA
2    107.70           1996-01-01  1997-12-31 0.0     2
3     29.75           1996-03-01  2001-12-31 0.0     3
4    762.15           1996-07-01  1999-01-30 4.3     7
5    589.41           1996-09-01  2002-12-31 4.4     3
6     32.53           1996-01-01  1998-12-31 0.0     1
7     15.00           1996-08-01  1998-12-31 0.0     1
8    120.00           1996-01-01  2001-12-31 0.0     4
9     75.00           1996-08-01  1998-12-31 0.0     4
10   213.75           1996-06-01  1998-12-31 3.9     2
11    20.00           1996-01-01  1997-12-31 3.6     1
12    94.67           1996-04-01  1998-12-31 3.8     1
13   400.00           1996-07-01  1997-12-31 4.4     2
14   166.40           1996-04-01  1996-12-31 3.5     1
15    61.48           1996-07-01  1997-12-31 4.0     4
16   279.53           1996-07-01  1997-12-31 3.9     6
17    24.89           1996-07-01  1998-12-31 3.3     1
18   157.50           1996-07-01  1998-12-31 3.8     2
19   102.83           1996-07-01  1998-12-31 3.9     2
20    12.12           1996-07-01  1997-12-31 3.6     1
21    58.69           1996-07-01  1997-12-31 4.1     2
22   476.62           1996-01-01  1997-12-31 4.2     8
23    40.00           1996-07-01  1997-12-31 4.1     1
24    51.50           1996-09-01  1998-12-31 3.8     2
25   127.17           1996-09-01  1998-12-31 4.1     1
26   381.04           1996-08-01  1998-12-31 4.4     4
27   705.44           1996-10-01  1998-12-31 4.7    10
28    86.18           1996-04-01  1996-12-31 3.5     1
29    68.77           1996-04-01  1997-12-31 3.5     1
30   162.29           1996-04-01  1997-12-31 3.9     2
⋮    ⋮                ⋮           ⋮          ⋮      ⋮
6508  5.48            2022-01-01  2022-07-31 0.0     1
6509  5.01            2022-01-01  2022-07-31 0.0     1
6510    NA            2022-01-01  2022-07-31 0.0    10
6511    NA            2022-01-01  2022-07-31 0.0    NA
6512 19.99            2022-08-01  2022-12-31 0.0     2
6513    NA            2022-08-01  2022-12-31 0.0    NA
6514  5.89            2022-08-01  2022-12-31 0.0    NA
6515 44.12            2022-08-01  2022-12-31 0.0    NA
6516    NA            2022-08-01  2022-12-31 0.0    NA
6517    NA            2022-08-01  2022-12-31 0.0    NA
6518    NA            2022-08-01  2022-12-31 0.0    NA
6519    NA            2022-08-01  2022-12-31 0.0    NA
6520    NA            2022-08-01  2022-12-31 0.0    NA
6521    NA            2022-08-01  2022-12-31 0.0    NA
6522    NA            2022-08-01  2022-12-31 0.0     8
6523    NA            2022-08-01  2022-12-31 0.0    NA
6524 32.07            2022-03-01  2022-12-31 3.7     3
6525 10.19            2022-01-01  2022-12-31 3.6     1
6526 29.06            2022-09-01  2022-12-31 3.8     8
6527  9.17            2022-04-01  2022-12-31 3.8     1
6528 10.15            2022-04-01  2022-12-31 3.4     1
6529  7.26            2022-04-01  2022-12-31 3.5     1
6530 24.28            2022-01-01  2022-12-31 4.1     3
6531 19.32            2022-04-01  2022-12-31 0.0     2
6532 32.41            2022-09-01  2022-12-31 3.7     6
6533 28.34            2022-03-01  2022-12-31 3.9     3
6534 29.18            2022-03-01  2022-12-31 3.7     4
6535 65.41            2022-06-01  2022-12-31 4.1    10
6536 22.43            2022-09-01  2022-12-31 3.5     8
6537 55.32            2022-01-01  2022-12-31  NA    NA

In [57]:
# Filter out the retail price, and resale price with 0, which are regarded as missing values
total_data <-
  total_data %>%
  filter(retail_price != 0,
         resale_price_used != 0,
         resale_price_new != 0,
         resale_price_new >= resale_price_used) %>%
  mutate(used_set_profit = round(resale_price_used - retail_price, 2),
         new_set_profit = round(resale_price_new - retail_price, 2))

In [58]:
# Check the result
total_data

     year set_id   set_name
1    1996 4559-1   Cargo Railway
2    1996 4565-1   Freight and Crane Railway
3    1996 5876-1   Belville Hospital Ward
4    1996 6024-1   Bandit Ambush
5    1996 6135-1   Spy Shark
6    1996 6145-1   Crystal Crawler
7    1996 6190-1   Shark's Crystal Cave
8    1996 6244-1   Armada Sentry
9    1996 6334-1   Wave Jump Racers
10   1996 6337-1   Fast Track Finish
11   1996 6491-1   Rocket Racer
12   1996 6492-1   Hypno Cruiser
13   1996 6493-1   Flying Time Vessel
14   1996 6518-1   Baja Buggy
15   1996 6581-1   Dig 'N' Dump
16   1996 6598-1   Metro PD Station
17   1996 6615-1   Eagle Stunt Flyer
18   1996 6712-1   Sheriff's Showdown
19   1996 6716-1   Covered Wagon
20   1996 6755-1   Sheriff's Lock-Up
21   1996 6769-1   Fort Legoredo
22   1996 6854-1   Alien Fossilizer
23   1996 6856-1   Planetary Decoder
24   1996 6899-1   Nebula Outpost
25   1996 6938-1   Scorpion Detector
26   1996 6958-1   Android Base
27   1996 6982-1   Explorien Starship
28   1996 8207-1   Dune Duster
29   1996 8244-1   Convertables
30   1996 8408-1   Desert Ranger
⋮    ⋮    ⋮        ⋮
5182 2022 71032-10 Raccoon Costume Fan
5183 2022 71032-11 Space Creature
5184 2022 71032-12 Wheelchair Racer
5185 2022 71396-1  Bowser Jr.'s Clown Car
5186 2022 71397-1  Luigi's Mansion Lab and Poltergust
5187 2022 71398-1  Dorrie's Beachfront
5188 2022 71399-1  Luigi's Mansion Entryway
5189 2022 71401-1  Luigi's Mansion Haunt-and-Seek
5190 2022 71402-1  Freezie
5191 2022 71402-2  Mechakoopa
5192 2022 71402-3  Ant Trooper
5193 2022 71402-5  Scaredy Rat
5194 2022 71402-6  Bully
5195 2022 71402-7  Baby Penguin
5196 2022 71402-8  Stingby
5197 2022 71402-9  Coin Coffer
5198 2022 71402-10 Para-Biddybud
5199 2022 71405-1  Fuzzy Flippers
5200 2022 75321-1  The Razor Crest Microfighter
5201 2022 75340-1  LEGO Star Wars Advent Calendar
5202 2022 76202-1  Wolverine Mech Armor
5203 2022 76203-1  Iron Man Mech Armor
5204 2022 76204-1  Black Panther Mech Armor
5205 2022 76205-1  Gargantos Showdown
5206 2022 76219-1  Spider-Man & Green Goblin Mech Battle
5207 2022 76231-1  Guardians of the Galaxy Advent Calendar
5208 2022 76396-1  Hogwarts Moment: Divination Class
5209 2022 76397-1  Hogwarts Moment: Defence Against the Dark Arts Class
5210 2022 76403-1  The Ministry of Magic
5211 2022 76404-1  LEGO Harry Potter Advent Calendar
     theme_name              parts_count retail_price resale_price_used
1    Trains                  842         130.00       216.43
2    Trains                  914         140.00       243.55
3    Belville                 96          30.00        40.88
4    Castle                   59           6.50        78.79
5    Aquazone                 57           8.75        11.79
6    Aquazone                 96          12.00        17.05
7    Aquazone                258          50.00       106.77
8    Pirates                  71           8.75        45.89
9    Town                    181          20.00        32.60
10   Town                    329          40.00       109.57
11   Time Cruisers            58           4.50         6.27
12   Time Cruisers           152          22.00        31.83
13   Time Cruisers           237          44.00        44.87
14   Town                     37           3.50         3.25
15   Town                    127          13.25        14.56
16   Town                    552          66.00       135.00
17   Town                     76           8.75        11.30
18   Western                  28           4.00        16.53
19   Western                  64           8.00        42.71
20   Western                 176          25.00        68.37
21   Western                 687          85.00       217.35
22   Space                    53           6.00        13.36
23   Space                    80           8.00        11.98
24   Space                   158          15.00        31.61
25   Space                   196          24.00        37.25
26   Space                   267          40.00        87.24
27   Space                   662          80.00       113.88
28   Technic                  86           8.00         6.57
29   Technic                 275          33.00        26.78
30   Technic                 289          30.00        27.99
⋮    ⋮                       ⋮           ⋮            ⋮
5182 Collectable Minifigures   9          4.99         4.31
5183 Collectable Minifigures   9          4.99         7.36
5184 Collectable Minifigures  11          4.99         3.67
5185 Super Mario              84          9.99         5.33
5186 Super Mario             179         29.99        12.50
5187 Super Mario             229         29.99        15.00
5188 Super Mario             504         39.99        25.00
5189 Super Mario             877         79.99        41.00
5190 Super Mario              NA          4.99        10.24
5191 Super Mario              NA          4.99         2.99
5192 Super Mario              NA          4.99         7.99
5193 Super Mario              NA          4.99         2.28
5194 Super Mario              NA          4.99         3.94
5195 Super Mario              NA          4.99         3.42
5196 Super Mario              NA          4.99         3.20
5197 Super Mario              NA          4.99         3.29
5198 Super Mario              NA          4.99         5.00
5199 Super Mario             154         19.99        13.25
5200 Star Wars                98          9.99         7.23
5201 Star Wars               329         44.99        22.42
5202 Marvel Super Heroes     141          9.99         6.33
5203 Marvel Super Heroes     130          9.99         9.15
5204 Marvel Super Heroes     124          9.99         5.45
5205 Marvel Super Heroes     264         29.99        18.35
5206 Marvel Super Heroes     296         19.99        12.04
5207 Marvel Super Heroes     268         44.99        21.65
5208 Harry Potter            297         29.99        19.79
5209 Harry Potter            257         29.99        22.27
5210 Harry Potter            990         99.99        55.00
5211 Harry Potter            334         44.99        15.00
     resale_price_new launch_date exit_date  rating minifigures_count
1    762.15           1996-07-01  1999-01-30 4.3     7
2    589.41           1996-09-01  2002-12-31 4.4     3
3     75.00           1996-08-01  1998-12-31 0.0     4
4    213.75           1996-06-01  1998-12-31 3.9     2
5     20.00           1996-01-01  1997-12-31 3.6     1
6     94.67           1996-04-01  1998-12-31 3.8     1
7    400.00           1996-07-01  1997-12-31 4.4     2
8    166.40           1996-04-01  1996-12-31 3.5     1
9     61.48           1996-07-01  1997-12-31 4.0     4
10   279.53           1996-07-01  1997-12-31 3.9     6
11    24.89           1996-07-01  1998-12-31 3.3     1
12   157.50           1996-07-01  1998-12-31 3.8     2
13   102.83           1996-07-01  1998-12-31 3.9     2
14    12.12           1996-07-01  1997-12-31 3.6     1
15    58.69           1996-07-01  1997-12-31 4.1     2
16   476.62           1996-01-01  1997-12-31 4.2     8
17    40.00           1996-07-01  1997-12-31 4.1     1
18    51.50           1996-09-01  1998-12-31 3.8     2
19   127.17           1996-09-01  1998-12-31 4.1     1
20   381.04           1996-08-01  1998-12-31 4.4     4
21   705.44           1996-10-01  1998-12-31 4.7    10
22    86.18           1996-04-01  1996-12-31 3.5     1
23    68.77           1996-04-01  1997-12-31 3.5     1
24   162.29           1996-04-01  1997-12-31 3.9     2
25   154.00           1996-04-01  1996-12-31 4.2     2
26   315.00           1996-01-01  1997-12-31 4.1     3
27   341.83           1996-01-01  1997-12-31 4.2     4
28    14.75           1996-01-01  1998-12-31 3.4    NA
29    53.39           1996-01-01  1998-12-31 3.3     1
30    54.67           1996-08-01  1998-12-31 3.5    NA
⋮    ⋮                ⋮           ⋮          ⋮      ⋮
5182  5.26            2022-01-01  2022-04-30 3.9     1
5183  7.40            2022-01-01  2022-04-30 3.8     1
5184  3.98            2022-01-01  2022-04-30 4.0     1
5185  8.15            2022-01-01  2022-12-31 4.0     1
5186 19.64            2022-01-01  2022-12-31 3.5     2
5187 19.05            2022-01-01  2022-12-31 0.0     2
5188 36.14            2022-01-01  2022-12-31 4.2     3
5189 67.27            2022-01-01  2022-12-31 0.0     4
5190 20.94            2022-01-01  2022-07-31 0.0     1
5191  4.14            2022-01-01  2022-07-31 0.0     1
5192 12.12            2022-01-01  2022-07-31 0.0     1
5193  4.58            2022-01-01  2022-07-31 0.0     1
5194  5.39            2022-01-01  2022-07-31 0.0     1
5195  5.49            2022-01-01  2022-07-31 0.0     1
5196  4.55            2022-01-01  2022-07-31 0.0     1
5197  5.48            2022-01-01  2022-07-31 0.0     1
5198  5.01            2022-01-01  2022-07-31 0.0     1
5199 19.99            2022-08-01  2022-12-31 0.0     2
5200 10.19            2022-01-01  2022-12-31 3.6     1
5201 29.06            2022-09-01  2022-12-31 3.8     8
5202  9.17            2022-04-01  2022-12-31 3.8     1
5203 10.15            2022-04-01  2022-12-31 3.4     1
5204  7.26            2022-04-01  2022-12-31 3.5     1
5205 24.28            2022-01-01  2022-12-31 4.1     3
5206 19.32            2022-04-01  2022-12-31 0.0     2
5207 32.41            2022-09-01  2022-12-31 3.7     6
5208 28.34            2022-03-01  2022-12-31 3.9     3
5209 29.18            2022-03-01  2022-12-31 3.7     4
5210 65.41            2022-06-01  2022-12-31 4.1    10
5211 22.43            2022-09-01  2022-12-31 3.5     8
     used_set_profit new_set_profit
1     86.43          632.15
2    103.55          449.41
3     10.88           45.00
4     72.29          207.25
5      3.04           11.25
6      5.05           82.67
7     56.77          350.00
8     37.14          157.65
9     12.60           41.48
10    69.57          239.53
11     1.77           20.39
12     9.83          135.50
13     0.87           58.83
14    -0.25            8.62
15     1.31           45.44
16    69.00          410.62
17     2.55           31.25
18    12.53           47.50
19    34.71          119.17
20    43.37          356.04
21   132.35          620.44
22     7.36           80.18
23     3.98           60.77
24    16.61          147.29
25    13.25          130.00
26    47.24          275.00
27    33.88          261.83
28    -1.43            6.75
29    -6.22           20.39
30    -2.01           24.67
⋮    ⋮               ⋮
5182  -0.68            0.27
5183   2.37            2.41
5184  -1.32           -1.01
5185  -4.66           -1.84
5186 -17.49          -10.35
5187 -14.99          -10.94
5188 -14.99           -3.85
5189 -38.99          -12.72
5190   5.25           15.95
5191  -2.00           -0.85
5192   3.00            7.13
5193  -2.71           -0.41
5194  -1.05            0.40
5195  -1.57            0.50
5196  -1.79           -0.44
5197  -1.70            0.49
5198   0.01            0.02
5199  -6.74            0.00
5200  -2.76            0.20
5201 -22.57          -15.93
5202  -3.66           -0.82
5203  -0.84            0.16
5204  -4.54           -2.73
5205 -11.64           -5.71
5206  -7.95           -0.67
5207 -23.34          -12.58
5208 -10.20           -1.65
5209  -7.72           -0.81
5210 -44.99          -34.58
5211 -29.99          -22.56

In [59]:
# Modify the theme name to right format
total_data <- 
  total_data %>%
  mutate(theme_name = 
         ifelse(theme_name == "Avatar The Last Airbender", 
                             "Avatar: The Last Airbender", 
                             theme_name))

In [60]:
# Create the market data for the analysis of LEGO market
# Select variables of interests
market_data <-
  total_data %>%
  select(year, set_id, theme_name, set_name,
         retail_price, rating, 
         used_set_profit, new_set_profit)

In [61]:
# Check the missing values
market_data %>%
  is.na() %>%
  colSums()

# Check any duplicates
market_data %>%
  duplicated() %>%
  any()

           year          set_id      theme_name        set_name    retail_price
              0               0               0               0               0
         rating used_set_profit  new_set_profit
            209               0               0

[1] FALSE

In [62]:
# Remove the missing values
market_data <- 
  market_data %>%
  na.omit()

In [63]:
# Check the statistics of the data
market_data %>%
  glimpse()

Rows: 5,002
Columns: 8
$ year            <dbl> 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, …
$ set_id          <chr> "4559-1", "4565-1", "5876-1", "6024-1", "6135-1", "614…
$ theme_name      <chr> "Trains", "Trains", "Belville", "Castle", "Aquazone", …
$ set_name        <chr> "Cargo Railway", "Freight and Crane Railway", "Belvill…
$ retail_price    <dbl> 130.00, 140.00, 30.00, 6.50, 8.75, 12.00, 50.00, 8.75,…
$ rating          <dbl> 4.3, 4.4, 0.0, 3.9, 3.6, 3.8, 4.4, 3.5, 4.0, 3.9, 3.3,…
$ used_set_profit <dbl> 86.43, 103.55, 10.88, 72.29, 3.04, 5.05, 56.77, 37.14,…
$ new_set_profit  <dbl> 632.15, 449.41, 45.00, 207.25, 11.25, 82.67, 350.00, 1…

In [64]:
# Save the dataset
write.csv(market_data, file = "market_data.csv", row.names = FALSE)

In [65]:
# Create the dataset for price prediction model
# Select variables of interest
model_data <-
  total_data %>%
  select(set_id, set_name, theme_name,
         parts_count, rating, retail_price, 
         minifigures_count, resale_price_used, resale_price_new,
         launch_date, exit_date)

In [66]:
# Check the dataset
model_data

     set_id   set_name
1    4559-1   Cargo Railway
2    4565-1   Freight and Crane Railway
3    5876-1   Belville Hospital Ward
4    6024-1   Bandit Ambush
5    6135-1   Spy Shark
6    6145-1   Crystal Crawler
7    6190-1   Shark's Crystal Cave
8    6244-1   Armada Sentry
9    6334-1   Wave Jump Racers
10   6337-1   Fast Track Finish
11   6491-1   Rocket Racer
12   6492-1   Hypno Cruiser
13   6493-1   Flying Time Vessel
14   6518-1   Baja Buggy
15   6581-1   Dig 'N' Dump
16   6598-1   Metro PD Station
17   6615-1   Eagle Stunt Flyer
18   6712-1   Sheriff's Showdown
19   6716-1   Covered Wagon
20   6755-1   Sheriff's Lock-Up
21   6769-1   Fort Legoredo
22   6854-1   Alien Fossilizer
23   6856-1   Planetary Decoder
24   6899-1   Nebula Outpost
25   6938-1   Scorpion Detector
26   6958-1   Android Base
27   6982-1   Explorien Starship
28   8207-1   Dune Duster
29   8244-1   Convertables
30   8408-1   Desert Ranger
⋮    ⋮        ⋮
5182 71032-10 Raccoon Costume Fan
5183 71032-11 Space Creature
5184 71032-12 Wheelchair Racer
5185 71396-1  Bowser Jr.'s Clown Car
5186 71397-1  Luigi's Mansion Lab and Poltergust
5187 71398-1  Dorrie's Beachfront
5188 71399-1  Luigi's Mansion Entryway
5189 71401-1  Luigi's Mansion Haunt-and-Seek
5190 71402-1  Freezie
5191 71402-2  Mechakoopa
5192 71402-3  Ant Trooper
5193 71402-5  Scaredy Rat
5194 71402-6  Bully
5195 71402-7  Baby Penguin
5196 71402-8  Stingby
5197 71402-9  Coin Coffer
5198 71402-10 Para-Biddybud
5199 71405-1  Fuzzy Flippers
5200 75321-1  The Razor Crest Microfighter
5201 75340-1  LEGO Star Wars Advent Calendar
5202 76202-1  Wolverine Mech Armor
5203 76203-1  Iron Man Mech Armor
5204 76204-1  Black Panther Mech Armor
5205 76205-1  Gargantos Showdown
5206 76219-1  Spider-Man & Green Goblin Mech Battle
5207 76231-1  Guardians of the Galaxy Advent Calendar
5208 76396-1  Hogwarts Moment: Divination Class
5209 76397-1  Hogwarts Moment: Defence Against the Dark Arts Class
5210 76403-1  The Ministry of Magic
5211 76404-1  LEGO Harry Potter Advent Calendar
     theme_name              parts_count rating retail_price minifigures_count
1    Trains                  842         4.3    130.00        7
2    Trains                  914         4.4    140.00        3
3    Belville                 96         0.0     30.00        4
4    Castle                   59         3.9      6.50        2
5    Aquazone                 57         3.6      8.75        1
6    Aquazone                 96         3.8     12.00        1
7    Aquazone                258         4.4     50.00        2
8    Pirates                  71         3.5      8.75        1
9    Town                    181         4.0     20.00        4
10   Town                    329         3.9     40.00        6
11   Time Cruisers            58         3.3      4.50        1
12   Time Cruisers           152         3.8     22.00        2
13   Time Cruisers           237         3.9     44.00        2
14   Town                     37         3.6      3.50        1
15   Town                    127         4.1     13.25        2
16   Town                    552         4.2     66.00        8
17   Town                     76         4.1      8.75        1
18   Western                  28         3.8      4.00        2
19   Western                  64         4.1      8.00        1
20   Western                 176         4.4     25.00        4
21   Western                 687         4.7     85.00       10
22   Space                    53         3.5      6.00        1
23   Space                    80         3.5      8.00        1
24   Space                   158         3.9     15.00        2
25   Space                   196         4.2     24.00        2
26   Space                   267         4.1     40.00        3
27   Space                   662         4.2     80.00        4
28   Technic                  86         3.4      8.00       NA
29   Technic                 275         3.3     33.00        1
30   Technic                 289         3.5     30.00       NA
⋮    ⋮                       ⋮           ⋮      ⋮            ⋮
5182 Collectable Minifigures   9         3.9     4.99         1
5183 Collectable Minifigures   9         3.8     4.99         1
5184 Collectable Minifigures  11         4.0     4.99         1
5185 Super Mario              84         4.0     9.99         1
5186 Super Mario             179         3.5    29.99         2
5187 Super Mario             229         0.0    29.99         2
5188 Super Mario             504         4.2    39.99         3
5189 Super Mario             877         0.0    79.99         4
5190 Super Mario              NA         0.0     4.99         1
5191 Super Mario              NA         0.0     4.99         1
5192 Super Mario              NA         0.0     4.99         1
5193 Super Mario              NA         0.0     4.99         1
5194 Super Mario              NA         0.0     4.99         1
5195 Super Mario              NA         0.0     4.99         1
5196 Super Mario              NA         0.0     4.99         1
5197 Super Mario              NA         0.0     4.99         1
5198 Super Mario              NA         0.0     4.99         1
5199 Super Mario             154         0.0    19.99         2
5200 Star Wars                98         3.6     9.99         1
5201 Star Wars               329         3.8    44.99         8
5202 Marvel Super Heroes     141         3.8     9.99         1
5203 Marvel Super Heroes     130         3.4     9.99         1
5204 Marvel Super Heroes     124         3.5     9.99         1
5205 Marvel Super Heroes     264         4.1    29.99         3
5206 Marvel Super Heroes     296         0.0    19.99         2
5207 Marvel Super Heroes     268         3.7    44.99         6
5208 Harry Potter            297         3.9    29.99         3
5209 Harry Potter            257         3.7    29.99         4
5210 Harry Potter            990         4.1    99.99        10
5211 Harry Potter            334         3.5    44.99         8
     resale_price_used resale_price_new launch_date exit_date
1    216.43            762.15           1996-07-01  1999-01-30
2    243.55            589.41           1996-09-01  2002-12-31
3     40.88             75.00           1996-08-01  1998-12-31
4     78.79            213.75           1996-06-01  1998-12-31
5     11.79             20.00           1996-01-01  1997-12-31
6     17.05             94.67           1996-04-01  1998-12-31
7    106.77            400.00           1996-07-01  1997-12-31
8     45.89            166.40           1996-04-01  1996-12-31
9     32.60             61.48           1996-07-01  1997-12-31
10   109.57            279.53           1996-07-01  1997-12-31
11     6.27             24.89           1996-07-01  1998-12-31
12    31.83            157.50           1996-07-01  1998-12-31
13    44.87            102.83           1996-07-01  1998-12-31
14     3.25             12.12           1996-07-01  1997-12-31
15    14.56             58.69           1996-07-01  1997-12-31
16   135.00            476.62           1996-01-01  1997-12-31
17    11.30             40.00           1996-07-01  1997-12-31
18    16.53             51.50           1996-09-01  1998-12-31
19    42.71            127.17           1996-09-01  1998-12-31
20    68.37            381.04           1996-08-01  1998-12-31
21   217.35            705.44           1996-10-01  1998-12-31
22    13.36             86.18           1996-04-01  1996-12-31
23    11.98             68.77           1996-04-01  1997-12-31
24    31.61            162.29           1996-04-01  1997-12-31
25    37.25            154.00           1996-04-01  1996-12-31
26    87.24            315.00           1996-01-01  1997-12-31
27   113.88            341.83           1996-01-01  1997-12-31
28     6.57             14.75           1996-01-01  1998-12-31
29    26.78             53.39           1996-01-01  1998-12-31
30    27.99             54.67           1996-08-01  1998-12-31
⋮    ⋮                 ⋮                ⋮           ⋮
5182  4.31              5.26            2022-01-01  2022-04-30
5183  7.36              7.40            2022-01-01  2022-04-30
5184  3.67              3.98            2022-01-01  2022-04-30
5185  5.33              8.15            2022-01-01  2022-12-31
5186 12.50             19.64            2022-01-01  2022-12-31
5187 15.00             19.05            2022-01-01  2022-12-31
5188 25.00             36.14            2022-01-01  2022-12-31
5189 41.00             67.27            2022-01-01  2022-12-31
5190 10.24             20.94            2022-01-01  2022-07-31
5191  2.99              4.14            2022-01-01  2022-07-31
5192  7.99             12.12            2022-01-01  2022-07-31
5193  2.28              4.58            2022-01-01  2022-07-31
5194  3.94              5.39            2022-01-01  2022-07-31
5195  3.42              5.49            2022-01-01  2022-07-31
5196  3.20              4.55            2022-01-01  2022-07-31
5197  3.29              5.48            2022-01-01  2022-07-31
5198  5.00              5.01            2022-01-01  2022-07-31
5199 13.25             19.99            2022-08-01  2022-12-31
5200  7.23             10.19            2022-01-01  2022-12-31
5201 22.42             29.06            2022-09-01  2022-12-31
5202  6.33              9.17            2022-04-01  2022-12-31
5203  9.15             10.15            2022-04-01  2022-12-31
5204  5.45              7.26            2022-04-01  2022-12-31
5205 18.35             24.28            2022-01-01  2022-12-31
5206 12.04             19.32            2022-04-01  2022-12-31
5207 21.65             32.41            2022-09-01  2022-12-31
5208 19.79             28.34            2022-03-01  2022-12-31
5209 22.27             29.18            2022-03-01  2022-12-31
5210 55.00             65.41            2022-06-01  2022-12-31
5211 15.00             22.43            2022-09-01  2022-12-31

In [67]:
# Check missing values
model_data %>%
  is.na() %>%
  colSums()

# Check any duplicates in the dataset
total_data %>%
  duplicated() %>%
  any()

           set_id          set_name        theme_name       parts_count
                0                 0                 0                37
           rating      retail_price minifigures_count resale_price_used
              209                 0              1521                 0
 resale_price_new       launch_date         exit_date
                0                 0                 0

[1] FALSE

In [68]:
# To introduce two variables for price prediction
model_data <- 
  model_data %>%
  mutate(
    lifecycle_duration =  as.numeric(exit_date - launch_date), 
    days_since_launch =  as.numeric(dmy("31/12/2022") - launch_date)
        )

In [69]:
# Select the variables of interests
model_data <-
  model_data %>%
  select(theme_name,
         parts_count, minifigures_count, rating, 
         retail_price, lifecycle_duration, days_since_launch,
         resale_price_used, resale_price_new)

In [70]:
# Check missing values
model_data %>%
  is.na() %>%
  colSums()

# Check any duplicates in the dataset
model_data %>%
  duplicated() %>%
  any()

        theme_name        parts_count  minifigures_count             rating
                 0                 37               1521                209
      retail_price lifecycle_duration  days_since_launch  resale_price_used
                 0                  0                  0                  0
  resale_price_new
                 0

[1] FALSE

In [74]:
# Remove missing values
model_data <-
  model_data %>%
  na.omit()

# Check the dataset
model_data %>%
  glimpse()

Rows: 3,653
Columns: 9
$ theme_name         <chr> "Trains", "Trains", "Belville", "Castle", "Aquazone…
$ parts_count        <dbl> 842, 914, 96, 59, 57, 96, 258, 71, 181, 329, 58, 15…
$ minifigures_count  <dbl> 7, 3, 4, 2, 1, 1, 2, 1, 4, 6, 1, 2, 2, 1, 2, 8, 1, …
$ rating             <dbl> 4.3, 4.4, 0.0, 3.9, 3.6, 3.8, 4.4, 3.5, 4.0, 3.9, 3…
$ retail_price       <dbl> 130.00, 140.00, 30.00, 6.50, 8.75, 12.00, 50.00, 8.…
$ lifecycle_duration <dbl> 943, 2312, 882, 943, 730, 1004, 548, 274, 548, 548,…
$ days_since_launch  <dbl> 9679, 9617, 9648, 9709, 9861, 9770, 9679, 9770, 967…
$ resale_price_used  <dbl> 216.43, 243.55, 40.88, 78.79, 11.79, 17.05, 106.77,…
$ resale_price_new   <dbl> 762.15, 589.41, 75.00, 213.75, 20.00, 94.67, 400.00…

In [75]:
# Save the dataset
write.csv(model_data, file = "model_data.csv", row.names = FALSE)